# Ignorar ambiente virtual
.venv/
venv/

# Ignorar caches do Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar arquivos de configuração de ambiente
.env

# Ignorar arquivos e pastas temporárias do sistema
.DS_Store
Thumbs.db

# Ignorar README
#README.md
